<div data-sticky-container>
  <div data-sticky data-margin-top='0'>


    <div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      <div class="title-bar-right">
        The River
      </div>
    </div>




    <div class="top-bar" id="mainNavigation">
      <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal anthro-font dropdown" data-dropdown-menu>
          <li class="menu-text hide-for-small-only">The River Preschool </li>
          <li><a href="{{root}}index.html">Home</a></li>
          <li><a href="#">Our Program</a>
            <ul class="menu">
              <li><a href="{{root}}prog-info.html">Program Information</a></li>
              <li><a href="{{root}}typical-day.html">Typical Day</a></li>
              <li><a href="{{root}}reg-form.html">Registration</a></li>
            </ul>
          </li>
          <li><a href="{{root}}our-phil.html">Our Philosophy</a></li>
          <li><a href="#">Board and Staff</a>
            <ul class="menu">
              <li><a href="{{root}}board.html">Board of Directors</a>
              <li><a href="{{root}}jobs.html">Employment Opportunities</a></li>
            </ul>
          </li>
          <li><a href="{{root}}calendar.html">Calendar</a></li>
          <li><a href="{{root}}gallery.html">Gallery</a></li>
          <li><a href="{{root}}contact.html">Contact</a></li>

        </ul>
      </div>
    </div>



    </div>
</div>
